mixin video(info)
    div 
        h4 info.name
        ul 
            li #{info.comments} comments 
            li #{info.rating}/5
            li Posted #{info.createdAt}
            li #{info.views} views