extends base

block content 
    if errorMessage 
        span=errorMessage
    form(method="post")
        input(placeholder="Old password", name="oldPassword", type="password")
        input(placeholder="New password", name="newPassword", type="password")
        input(placeholder="New password Confirmation", name="newPasswordComfirm", type="password")
        input(value="Change Password", type="submit")