extends base.pug
include mixins/video


block content
    nav
        ul 
            li 
                a(href="videos/upload") Upload video
    h2 welcome. here you will see the tranding videos
    
    each info in videos 
        +video(info)

    else 
            li sorry. nothing found