extends base.pug

block content 
    h2 hello i am upload page. welcome
    form(method="POST")
        input(name="videoTitle" placeholder="title" required type="text")
        input(type="submit" value="upload") 